@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?fallrt');
  src:  url('../fonts/icomoon.eot?fallrt#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?fallrt') format('truetype'),
    url('../fonts/icomoon.woff?fallrt') format('woff'),
    url('../fonts/icomoon.svg?fallrt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

html{
  height: 100%;
}
div.signup{
  background:#F8FAFB
}

div.login{
  background:#F8FAFB
}

.signup .form_left{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login .form_left{
  background:#BFCBFF;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
}

.login_image{
  object-fit: contain;
  width: 90%;
  height: auto;
}

.form_container{
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, .16);
  background: #fff;
}

.form_right{
    background: #F8FAFB;
    padding: 40px 60px;
    font-family: 'Lexend Deca', sans-serif;
    max-width: 650px;
    margin: auto;
}

.logo{
    width: 208px;
    height: 68px;
}
.sub_head{
  color: #b9b9b9;
  font-size: 16px;
}

.button{
    display: flex;
    flex-direction: row;
}

.link_forgot{
  color:#b9b9b9;
  text-decoration: none;
}

.link_forgot:hover{
  color:#b9b9b9;
  text-decoration: none;
}

.btn-violet{
  color:#ffffff;
  background: #4F276E;
  border-radius: 5px;
  padding: 10px;
  height: 50px;
}

.btn-violet img{
  max-height: 100%;
  max-width: auto;
}

.button .btn-blue {
    background-color: #3e89fa;
    border-radius: 20px;
    box-shadow:  0 1px 20px #3e89fa;
    width: 146px;
    height: 42px;
    border: none;
    font-size: 12px;
    color: #ffffff;
    margin: 10px;
    text-decoration:none;
}

.button .btn-white {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    width: 146px;
    height: 42px;
    border: none;
    margin: 10px;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
    color: #707070;
    font-size: 12px;
}

.btn-white:hover {
  color: #707070;
}

.round {
    position: relative;
  }
  
.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.label_form{
  font-size: 12px;
font-weight: 700;
color: #a6a6a6;
}

.terms{
    display: flex;
    
    align-content: center;
    flex-direction: row;
}

.icon_holder{
  max-width: 50px;
  padding: 8px;
  display: flex;
  align-items: center;

}

.form_container input[type=text], button, .form_container input[type=tel], .form_container input[type=password], .form_container input[type=email], .form_container input[type=number] {
  border: none;
  font-size: 16px;
  padding: 0;
  height: 18px;
  background: rgba(0,0,0,0);
}
select{
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

.form_container input[type=text]:focus, button,.form_container input[type=tel]:focus, .form_container input[type=password]:focus, .form_container input[type=email]:focus, .form_container input[type=number]:focus{
  border: none;
  outline: none !important;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


/* Dashboard CSS */
body.dashboard{
  background-color: #F8FAFB;
}

.dashboard .container-fluid{
  padding: 0;
  display: flex;
  flex-direction: row;
}

.dashboard .container-fluid .mainbar .topbar{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0 30px;
}
.dashboard .container-fluid .mainbar .topbar .profile{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0 15px;
}
.dashboard .container-fluid .mainbar .topbar .profile img{
  max-width: 100%;
  height: auto;
}
.dashboard .container-fluid .mainbar .topbar .item{  
  margin: 0 15px;
}
.dashboard  .container-fluid .sidebar{
  background-color: #ffffff;
  border-right: 2px solid #ECEDF2;
  width: 60px;
  height: 100vh;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 7.5px 0px;
  position: fixed;
}
.dashboard  .container-fluid .sidebar .item, ._logo{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  margin: 7.5px;
  display: flex;
  justify-content: center;
  align-items: center;

}
._logo img{
  max-width: 100%;
}
.item a{
  font-size: 22px;
  color:#000;
}
.dashboard  .container-fluid .sidebar .item:hover{ 
  background: rgba(0, 132, 255, .38)
}
.dashboard  .container-fluid .sidebar .item .selected{ 
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: -5px 0;
  color:rgb(255, 255, 255);
  background: rgba(0, 132, 255, 1)
}
.dashboard  .container-fluid .sidebar .item .selected a { 
  color:rgb(255, 255, 255);
  
}
.dashboard .container-fluid .mainbar{
  max-height: 100vh;
  flex: 1;
  width: 100%; 
  margin: 0 0 0  60px; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.topbar{
  height: 60px;
  background: #ffffff;
  border-bottom: 2px solid #ECEDF2;
  
}

.main_body{  
  flex: 1;
  position:relative;
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 750px);
  
}

.round_img {
  border-radius: 50%;

  overflow:hidden;
  width: 30px;
  height: 30px;
}
.round_img img{
  width: 30px;
  height: auto;
}
.button_controller{
  display: none;
  max-width: 100px;
}
.dp{
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  margin: 5px;
  padding: 10px;
}
.dp:hover{
  background: rgb(235, 235, 235);
  cursor: pointer;
}
.dp:hover .button_controller{
  display: block;
}
.dp li{
  list-style: none;
}
.name_area{
  flex:1;
  padding-left: 20px;
}

.button_table{
  margin: 7.5px;
  font-size: 20px;
  color: #afaaaa !important;
}
.button_table:hover{  
  color: #000000 !important;
}
ul{
  padding-inline-start: 0px;
}
.cards{
  border-radius: 8px;
  width: 100%;
  margin: 15px 0 !important;
  min-height: 100px;
  background: #ffffff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 20px 10px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.hg-100{
  min-height: 150px;
}
.hg-400{
  min-height: 400px;
}
.h-w-b{
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

textarea{
  position: absolute;
  min-height: 30px;
  /* height:auto;
  overflow: auto; */
  width: 100%;
  transition: all 200ms;
  resize: none;
  margin: 3px 3px;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none !important;
}

textarea:focus {
  z-index: 1001;
  min-height:150px;
  border: none !important;
  outline: none !important;
  box-shadow: 0 0 0 0.0rem rgba(0, 0, 0, 0) !important;
}
.cd{
  min-width: 310px;
  max-width: 310px;
  overflow: hidden;
  padding: 0 5px;
  margin: 0 5px
}
.empty{
  height: calc(100vh - 120px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #686868ee
}
.empty img{
  max-width: 30%;
  height: auto;
  filter: grayscale(100%) opacity(50%)
}
.cards_full{
  border-radius: 8px;
  width: 300px;
  margin: 15px 0 !important;
  min-height: 100px;
  overflow: hidden;
  min-width: 300px;
  max-width: 300px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.cards_full .cards_header{
  padding: 20px 10px;
  min-height: 70px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.cards_full .cards_header h4{
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}
.cards_full .card_body{
  padding: 10px;
  min-height: 50px;
}
.cards_full .footer{
  border-top: 1px solid #e6e6e6;
}
.cards_full .footer .footer__btn{
  width:100%;
  padding: 0 20px;
  display: flex;
  flex-direction: row-reverse;
}

.cards_full .footer .footer_btn{
  color: #000000;
  margin: 7.5px 4.5px;
  padding: 2.0px 5.5px;
  font-size: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.cards_full .footer .footer_btn:hover{
  background: #72727225
}
.btn_holder{
  width: 100%;
  text-align: right;
}
.btn--blue{
  padding: 3px 20px;
  margin: 10px 0;
  border-radius: 8px;
  background: #3e89fa;
  height: 100%;
  color: #fff;
  
}
.modal_btn button{
  font-size: 30px;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none; 
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* ICON AREA  */

.icon-add-user:before {
  content: "\e916";
}

.icon-logout:before {
  content: "\e915";
}
.icon-folder:before {
  content: "\e913";
}
.icon-chat:before {
  content: "\e914";
}
.icon-assignment:before {
  content: "\e95c";
}
.icon-hired:before {
  content: "\e912";
}
.icon-interview:before {
  content: "\e910";
}
.icon-building:before {
  content: "\e911";
}
.icon-calendar:before {
  content: "\e90e";
}
.icon-cloud:before {
  content: "\e90f";
}
.icon-pencil:before {
  content: "\e900";
}
.icon-note:before {
  content: "\e901";
}
.icon-file:before {
  content: "\e902";
}
.icon-result:before {
  content: "\e903";
}
.icon-conversation:before {
  content: "\e904";
}
.icon-id-card:before {
  content: "\e905";
}
.icon-cap:before {
  content: "\e906";
}
.icon-blackboard:before {
  content: "\e907";
}
.icon-paper-plane:before {
  content: "\e908";
}
.icon-promotion:before {
  content: "\e909";
}
.icon-idea:before {
  content: "\e90a";
}
.icon-settings:before {
  content: "\e90b";
}
.icon-delete:before {
  content: "\e90c";
}
.icon-edit:before {
  content: "\e90d";
}

/* Modal CSS */
.-padding-4{
  padding: 4px;
}

.m-menu{
  list-style-type: none;
  position: relative;
  text-align: right;
  z-index: 101;
}

.modal_highlight{
  position: fixed;
  top: 0;
  left:0;
  height: 100vh;
  width: 100%;
  background-color: rgba(223, 223, 223, 0.6);
  backdrop-filter: saturate(180%) blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease all;
  transform: scale(0);
  transform-origin: 0 1;
}

.m-menu.-active .modal_highlight {
  transform: scale(1);
}
.modal_main{
  width: 100%;
  max-width: 700px;
  min-height: 200px;
  border-radius: 8px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  max-height: 80vh;
  background-color: #ffffff;
  text-align: left;
  overflow: hidden;
  
}
.modal_head, .modal_body, .modal_footer{
  width: 100%;
  padding: 7.5px;
  /* margin: 7.5px */
  
}
.modal_head{
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  padding: 0px;
  color: #fff;
  overflow: hidden;
}
.modal_head .modal_title{
  width: 90%;
  
}

.modal_head .modal_btn{
  width: 10%;
  
}
.modal_body{
  overflow: hidden auto;   
  max-height: 60vh; 
  padding: 20px;   
}
/* button, button:hover{
  outline:none;
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin: auto;

} */


.modal_main h2{
  font-family: 'Montserrat', sans-serif;
  margin:0;
}
.btn_holder{
  width: 100%;
  text-align: right;
}
.btn--blue{
  padding: 6px 20px;
  margin: 10px 0;
  border-radius: 100px;
  background: #3e89fa;
  height: 100%;
  color: #fff;
  
}
*{
  margin:0;
}
.modal_title{
  padding: 20px 20px;
  
}
.modal_btn button{
  font-size: 30px;
  color: #fff;
  padding: 20px 10px;
}

/* RESPONSIVE ZONE */
@media only screen and (min-width: 992px) and (max-width: 1100px)  {
  .form_right{
    padding: 40px 20px;
    
  }
}

@media only screen and (max-width: 992px)  {
  .form_right{
    padding: 40px 20px;
    
  }
}